In [7]:
import pandas as pd
new_data_67 = pd.read_csv("../data/origin_data/new_data_67.csv")
new_data_67

         sequence          uM
0        PFKISIHL   67.057837
1    KRIVKLILKWLR    2.553626
2        RIWVIWRR   13.506669
3   WGIRRILKYGKRS   39.184473
4    ILRWPWWPWRRK    4.493877
..            ...         ...
62  FLSTIWNGIKSLL    5.361571
63  FLGALWNVAKSVF    5.509262
64  FLSTLWNAAKSIF    5.340454
65  FIPLVSGLFSRLL   21.884831
66  VIPIVSGLLSSLL  390.511800

[67 rows x 2 columns]

In [8]:
new_data_67.rename(columns={"sequence": "sequence", "uM": "value"}, inplace=True)
new_data_67

         sequence       value
0        PFKISIHL   67.057837
1    KRIVKLILKWLR    2.553626
2        RIWVIWRR   13.506669
3   WGIRRILKYGKRS   39.184473
4    ILRWPWWPWRRK    4.493877
..            ...         ...
62  FLSTIWNGIKSLL    5.361571
63  FLGALWNVAKSVF    5.509262
64  FLSTLWNAAKSIF    5.340454
65  FIPLVSGLFSRLL   21.884831
66  VIPIVSGLLSSLL  390.511800

[67 rows x 2 columns]

In [9]:
new_data_67.to_csv("../data/filtered_data/experimental.csv", index=False)